%%  {erl_opts, [native, {hipe, [verbose]}, debug_info]}.
%%  {erl_opts, [no_debug_info]}.
{erl_opts, [debug_info]}.

{deps, [
%%  {sync, ".*", {git, "https://github.com/rustyio/sync", {branch, "master"}}}
%%  {cowboy, ".*",{git, "https://github.com/ninenines/cowboy.git", {branch, "master"}}},
%%  {cowboy, "1.0.4",{git, "https://github.com/ninenines/cowboy.git", {tag, "1.0.4"}}}
]}.

%%  当你的应用实现了 -behaviour(application)
%%  并且在 xxx.app.src 有，才需要在这个里面写相关的 apps
{shell, [
%%  {config, "config/sys.config"},
%%  {apps, [demo]}
]}.

{pre_hooks, [
  {clean, "rm -rf ./_build/test"}
]}.
{provider_hooks, [{pre, [{clean}]}]}.
{shell, [{script_file, "escripts/on_app_start.erl"}]}.

{cover_enabled, true}.
{eunit_opts, [
    verbose, {
        report,{
            eunit_surefire,[
                {dir,"./_build/test"}
            ]
        }
    }
]}.